@media screen and (min-width:768px){
    .body-static{
        position: static;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    footer{
        margin-top: 380px;
    }
}
@media screen and (max-width:767px){
    .container{
        display: flex;
        max-width: 100vw;
    }
    .button-nav{
        display: flex;
        justify-content: space-between;
        z-index: 4;
        position: relative;
        top: -55px;
        left: 30px;
    }
    .button-nav:hover{
        cursor: pointer;
    }
    .img-header{
        position: relative;
        top: -30px;
        left: 25px;
    }
    .links-header a {
        height: 40px;
        font-size: 2em;
        justify-content: center;
        margin-bottom: 50px;
    }
    .links-header a:hover{
        text-decoration: underline;
    }
    .links-header{
        position: fixed;
        background-color: rgba(49, 48, 69,.9);
        z-index: 3;
        top: 0;
        left: 100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        transition: .3s;
}
    .links-header.is-active{
        left: 0;
    }
}
@media screen and (min-width:414px) and (max-width:480px){
    .links-header a {
        position: relative;
        left: -15px;
        margin-bottom: 25px;
    }
    .img-responsiv-one{
        width: 100%;
    }
    .img-responsiv-two{
        width: 100%;
    }
    .img-responsiv-ham{
        width: 100%;
    }
    .img-responsiv-pepperoni{
        width: 50%;
    }
}
@media screen and (max-width:375px){
    .main-container{
        display: block;
        margin-bottom: 50px;
    }
    .main-container-img {
        margin-bottom: 30px;
    }
    .main-container-img{
        margin-top: 30px;
    }
    .promotion-container a h2{
        font-size: 30px;
        position: relative;
        left: 100px;
    }
    .title-nav-detail h2{
        font-size: 17px;
    }
    .title-nav-detail h4{
        font-size: 25px;
    }
    .title-nav-detail p{
        font-size: 12px;
    }
}
@media screen and (max-width:320px){
    .title-nav{
        font-size: 13px;
    }
    .links-header a {
        font-size: 25px;
        position: relative;
        left: -20px;
        margin-bottom: 25px;
    }
    .main-container{
        display: block;
        margin-bottom: 50px;
    }
    .main-container-img {
        margin-bottom: 30px;
    }
    .main-container-img{
        margin-top: 30px;
    }
    .promotion-container a h2{
        font-size: 30px;
        position: relative;
        left: 100px;
    }
    .container-process-four img{
        position: relative;
        left: -20px;
        width: 120px;
    }
    .title-nav-detail h2{
        font-size: 17px;
    }
    .title-nav-detail h4{
        font-size: 25px;
    }
    .title-nav-detail p{
        font-size: 12px;
    }
    .container-login-open img{
        width: 100%;
    }
}