body{
    margin: 0;
    background: #ECEDF2 ;
    background-repeat: no-repeat;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?9jgi12');
    src:  url('../fonts/icomoon.eot?9jgi12#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?9jgi12') format('truetype'),
      url('../fonts/icomoon.woff?9jgi12') format('woff'),
      url('../fonts/icomoon.svg?9jgi12#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-mMenu:before {
    content: "\e900";
  }
  .container-four{
      background-color: #313045;
  }
.body-space{
    background: linear-gradient(#313045, #B189BD);
    /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: #313045;
    align-items: center;
    max-width: 100%;
}
.container-lineal{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background:linear-gradient( #313045);
    align-items: center;
    max-width: 100%;
}
.img-header img{
    width: 100%;
}

.button-nav{
    display: flex;
    color: white;
    font-size: 30px;
    display: none;
    justify-content: flex-end;
}
.links-header a {
    color: white;
    text-decoration: none;
    margin: 50px;
    font-family: 'Open Sans', sans-serif;
}
.title-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.title-nav h1{
    margin: 20px 40px;
    margin-top: -25px;
    background-color: white;
    position: relative;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.img-pizzas{
    width: 100%;
}
.main-container{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.main-container a {
    text-decoration: none;
    color: black;
}
.main-container-img{
    margin: 20px 40px;
    margin-top: -25px;
    background-color: white;
    position: relative;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.promotion-text{
    margin: 20px 40px;
    padding: 15px;
    display: flex;
    color: #313045;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.promotion-container{
    display: flex;
    text-align: center;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
.promotion-container img{
    max-width: 100%;
}
.container-process{
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: #313045;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}
.container-process p {
    font-size: 30px;
}
.container-text-processThree{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313045;
    font-size: 15px;
}
.container-text-skipe{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F71B1B;
    font-size: 15px;
    margin-bottom: 25px;
    text-decoration: none;
}
.container-text-skipe:hover{
    text-decoration: underline;
}
.container-process-four{
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: white;
    align-items: center;
    max-width: 100%;
    color: black;
    border: 0.5px solid #707070;
    border-radius: 10px;
}
.container-process-four p {
    font-size: 30px;
}
.container-process-four-two{
    margin: 20px 40px;
    border-radius: 10px;
    display: block;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: white;
    align-items: center;
    bottom: 0;
    max-width: 100%;
    color: black;
    border: 1px solid #707070;
}
.container-process-four-two img{
    margin-top: 15px;
}
.container-process-four-two h1{
    color: #313045;
}
.container-process-four-two p {
    font-size: 15px;
    color: #313045;
}
.container-process-four-two a {
    display: flex;
    background-color: #24F4C4;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 15px;
}
.title-nav-detail{
    margin: 20px 40px;
    padding: 40px;
    background-color: white;
    bottom: 0;
    text-align: center;
}
.title-nav-detail img{
    bottom: 0;
    text-align: center;
}
.title-nav-detail h2{
    color: #707070;
    font-weight: bold;
    text-align: center;
}
.title-nav-detail h3{
    text-align: center;
}
.title-nav-detail p{
    bottom: 0;
    color: #707070;
    text-align: center;
}
.title-nav-detail a{
    text-decoration: none;
    color: #707070;
    font-size: 13px;
}
.title-nav-detail a:hover{
    text-decoration: underline;
}
.title-nav-detail h4{
    bottom: 0;
    color: #313045;
    text-align: center;
}
.container-img-five{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -50px;
}
.main-login{
    bottom: 0;
    text-align: center;

}
.main-login p{
    color: white;
    margin-bottom: 50px;
}
.main-login a{
    margin-top: 20px;
    color: white;
    background-color: #3240E6;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}
.container-login-open{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-date{
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: space-between;
}
.container-return a{
    margin: 20px 40px;
    display: flex;
    color: #F71B1B;
    text-decoration: none;
}
.container-return a:hover{
    text-decoration: underline;
}
.botton-send a{
    margin: 20px 40px;
    display: flex;
    color: white;
    justify-content: center;
    background-color: #24F4C4;
    padding: 15px;
}


footer p{
    display: flex;
    justify-content: center;
    color: #707070;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
footer p:hover{
    text-decoration: underline;
}